*{margin:0; padding:0;} /*get rid of browser default margins*/
html, body{height:100%; --snow: #FFF}
.container{ padding-top:35px; padding-bottom:50px; min-height:100%;}
.main{overflow:auto; padding-bottom:100px;}
.modules{display:flex; flex-direction:row; justify-content: space-evenly;}

.pageHdr{color: var(--snow)}
.green{ border-radius: 5px; padding:5px; background-color:#5AC18E}
.red{border-radius: 5px; padding:5px; background-color:#C15A5A}
.blue{ border-radius: 5px; padding:5px; background-color:#539EE3}

.loginNote{
    background-color:rgb(139, 139, 139);
    font-size:1em;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:25px;
    color:var(--snow);
}

.loginContent{
    padding:25px;
    background-color:#5AC18E;
    color:var(--snow);
}

#error{
    text-align:center;
    background-color:#C15A5A;
    color:var(--snow);
    font-size:1.5em;
    width:100%;
    display:flex;
    flex-direction:column;
}

.data{
    padding:25px;
    background-color:rgb(102, 102, 102);
    color:var(--snow);
    font-size:1.2em;
    width:100%;
    display:flex;
    flex-direction:column;
}
.subBull{margin-left:20px;}
.home{text-align:center; text-transform: uppercase; font-weight:bold}

/*-------------- NAV BAR ----------------*/
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: #333;
    color: var(--snow);
    background-color: rgb(6,70,128);
    animation: nav-load 800ms;
}

.brand-title{
    text-decoration:none;
    font-size:1.9rem;
    margin: .5rem;
}

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}
.navbar-links li{list-style:none;}

.navbar-links li a{
    text-decoration:none;
    color: var(--snow);
    padding: 1rem;
    display:block;
}
.navbar-links li:hover{background-color: #FFFFFF44;}

.toggle-button{
    position:absolute;
    top: .85rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height:5px;
    width:100%;
    background-color: var(--snow);
    border-radius:5px;
}

@media(max-width: 600px){
    .toggle-button{
        display:flex;
    }
    .navbar-links{
        display:none;
        width:100%;
    }
    .navbar{
        flex-direction:column;
        align-items:flex-start;
    }
    .navbar-links ul{
        width:100%;
        flex-direction:column;
    }
    .navbar-links li{text-align:center;}
    .navbar-links li a{padding:.5rem 1rem;}
    .navbar-links.active{display:flex;}
}
/*---------------------------------*/
a:link{color:var(--snow)}
a:visited{color:var(--snow)}

footer{background-color: rgb(6,70,128); color:var(--snow);}
.ftr{position:relative; height:100px; margin-top:-100px; clear:both;}
.ftrContent{display:flex; flex-direction:column; padding-top:15px;}

@media screen and (max-width:760px){
    .modules{display:flex; flex-direction:column; justify-content: space-evenly;}
}

@keyframes nav-load{
    0%{transform:translateY(-100%)}
    100%{transform:translateY(0)}
}